# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment variables file
# .env

# VSCode settings (if using VSCode)
.vscode/

# macOS system files
.DS_Store

# Python egg info
*.egg-info/

# Log files
*.log

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.cache

# Pytest cache
.pytest_cache/
